body{background-image: url("https://www.carpixel.net/w/017c20699b9ed2062f4f8cb8b8e4d01d/bmw-7-series-lwb-wallpaper-hd-90920.jpg");
     background-attachment: fixed;
     background-size: 100%;
}
.s2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.mv2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s3{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s5{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s6{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s7{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.uvod{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}